<div class="fixed-top">
  <nav class="navbar navbar-light bg-faded">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <a [routerLink]="['']" class="navbar-brand">
            <img src="/assets/logo.png" />
          </a>
        </div>

        <div class="col-md-6">
          <input type="text"
          class="form-control"
          placeholder="Pesquisar"
          #termoPesquisa
          (keyup)="pesquisa(termoPesquisa.value)"
          />
        </div>

        <div class="col-md-2">
          <a href="#"><img src="/assets/carrinho.png" /></a>
        </div>

      </div>
    </div>
  </nav>

  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/restaurantes']" routerLinkActive="active">Restaurantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/diversao']" routerLinkActive="active">Diversão</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner">
  <img src="/assets/banners/img_1.jpg" />
</div>
